:root {
    --main-bg-color: #2f5984;
    --lighter-bg-color: #528AAE;
    --darker-bg-color: #1E3F66;
    --text-color: #F8F7F2;
    --darker-text-color: #ccc5c5;
}

body {
    background-color: var(--main-bg-color);
    color: var(--text-color);
    padding: 0;
    margin: 0;
}

.navBar {
    position: sticky;
    top: 0;
    left: 0;
}

.flexNavBar {
    background-color: var(--lighter-bg-color);
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 5px;
    font-size: calc(1vw + 1vh);
}

.flexSection {
    flex: 50%;
}

.flexLinkBar {
    flex: 50%;
    display: flex;
    justify-content: space-around;
}

.flexLinkBar > div {
    text-align: center;
}

.flexLinkBar a {
    text-decoration: none;
    color: var(--text-color);
    text-shadow: 2px 2px #ED872D;
    transition: color 300ms ease-in-out, font-size 300ms ease-in-out;
}

.flexLinkBar a.selected {
    color: var(--darker-text-color);
}

.flexLinkBar a:hover {
    color: var(--darker-text-color);
    font-size: calc(1.1vw + 1.1vh);
}

@media (max-width: 800px) {

    .flexSection,
    .flexLinkBar {
        flex: 100%
    }

    .flexLinkBar {
        flex-direction: column;
    }

}

@media (prefers-reduced-motion) {
    .flexNavBar {
      transition: none;
    }
}